body {
  background: #FFFFFF;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Pen Title */
.pen-title {
  padding: 25px 0;
  margin-top: 60px;
  text-align: center;
  letter-spacing: 2px;
}

.pen-title span {
  font-size: 25px;
  color: #6d6d6d;
  margin-bottom: 30px;
}

.edit-paragraf {
  color: #33A1C9;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  text-decoration: none;
}

/* Form Module */
.form-module {
  position: relative;
  background: #fafafa;
  max-width: 320px;
  width: 100%;
  border-top: 5px solid #1ec2e0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background: #1ec2e0;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}

.form-module .toggle .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  width: auto;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}

.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.form-module .form {
  display: none;
  padding: 40px;
}

.form-module .form:nth-child(2) {
  display: block;
}

.form-module h2 {
  margin: 0 0 20px;
  color: #16b6d3;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form-module input:focus {
  border: 1px solid #33A1C9;
  color: #242424;
}

.form-module button {
  cursor: pointer;
  background: #1ec2e0;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form-module button:hover {
  background: #16b6d3;
}

.form-module .cta {
  background: #1ec2e0;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}

select {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
  color: #666666;
}

label.custom-select {
        position: relative;
        display: block;
        border:1px solid #ccc;
        padding: 8px;
        margin-bottom: 12px;
        background: #fff;
}
    .custom-select select {
        display: block;
        width: 100%;
        border: 2px solid #bbb;
        padding: 4px 3px 3px 5px;
        margin: 0;
        font: inherit;
        color: 
        outline:none; /* remove focus ring from Webkit */
        line-height: 1.2;
        background: #fff;
        -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
        border:1px solid #ccc;
    }

    /* Select arrow styling */
    .custom-select:after {
        content: " ";width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 6.5px 0 6.5px;
        border-color: #949194 transparent transparent transparent;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }
    
    .no-pointer-events .custom-select:after {
        content: none;
    }

.spacer {
  margin-top: 30px;
}

