.carousel-caption #tittle {
	font-size: 5vw;
	font-family: 'Roboto', sans-serif;
}

.carousel-caption #tittle2 {
	font-size: 4vw;
	font-family: 'Roboto', sans-serif;
	color: #3175af;
}

#bg{
	-webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}

.container-fluid{
	background-color: #3174ae;
}

.navbar-default .navbar-brand{
	color: white;
	font-family: 'Roboto', sans-serif;
	
}

#status{
	color: white;
	font-family: 'Roboto', sans-serif;
	
}

#main{
	padding-top: 5%;
}

#logo{
	    width: 30px;
    margin-bottom: -10px;
    margin-top: -10px;
}

.panel-group {
    margin-bottom: 20px;
	padding-top: 5%;
	padding-bottom:15%;
}

#label{
	color: black;
}

.panel-body {
    padding: 15px;
    background-color: #ecebec;
}