@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.container {
    width: 100%;
}

.spacer {
    clear: both;
    height: 5px;
}
ul,li{

    padding:0;
    margin:0;
}

li {
    text-decoration: none;
    font-weight: normal;
    border-bottom: 3px solid transparent;
}

.navbar-nav.navbar-right {
    float: right;
    margin-right: 20px;
}

.navbar-default {
    width: 100%;
    margin-bottom: 0px;
    background-color: transparent;
    padding: 3px 0px;
    top: 0;
    border: transparent;
}

.navbar-default .navbar-fixed-top {
    width: 100%;
    margin-bottom: 0px;
    background:transparent;
    padding: 3px 0px;
    top: 0;
    border: transparent;
}

.navbar-default .navbar-fixed-top .navbar-login {
    width: 100%;
    margin-bottom: 0px;
    background: rgba(23,23,23,1);
    padding: 3px 0px;
    top: 0;
    border: transparent;
}

.text-nav {
    float: none;
    text-align: center;
}

.navbar-default .navbar-fixed-top .khususho {
    background: rgba(23,23,23,1);
}

.navbar-default .navbar-nav li {
    padding-left: 10px
}

.navbar-default .navbar-nav li a {
    color:white;
    font-size: 13px;
    font-weight: 600;
    padding-right: 10px
}

.navbar-default .navbar-nav li a:hover {
    background-color: transparent;
    color: #f44242;
}

.navbar-brand img {
    width: 160px;
    height: 30px;
    margin: 5px 0px 5px 5px;
}

#navbr {
    color: #ffffff:;
}

#navbr:hover {
    color: #ff6d6d;
}

.navbar-fixed-top.scrolled {
    background-color: #252525;
    transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled li a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-fixed-top.scrolled .navbar-nav li a:hover { 
    background-color: transparent;
    color: #ff6d6d;
}

.carousel-caption {
    padding-bottom: 20px;
    left:120%;
    right: auto;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 450px;
    opacity: 0;
    bottom: auto;
    top: 52%;
}

.item.active .carousel-caption {
    transition: 2s all ease-in-out .1s;
}

.text-center {
    text-align: center;
}

.panel-group {
    margin-bottom: 20px;
}

li {
    list-style-type:none;
}

footer { background-color:#252525; min-height:300px; margin-top: 100px;}
.footer-col { margin-top:50px; }
.footer-col p { color:#fff; font-size:13px; margin-top:25px; text-align: justify; max-width: 250px;}
.footer-col p i { width:20px; color:#999;}

.footer-ul { list-style-type:none;  padding-left:0; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:13px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px; color: #ff6d6d;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff6d6d; }

 .copyright { min-height:40px; background-color:#1c1c1c;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0;}
 .heading7 { font-size:21px; font-weight:700; color:white; margin-bottom:22px; font-family: 'Open Sans', sans-serif !important;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
 .social-icon {
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: blue;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    padding-top: 7px;
    border-radius: 50%;
}

.row.rowkhususho {
    padding-left: 100px;
}

 .footer-social li {
     float:left;
 }

 .linked-in {
     background-color:#ff6d6d;
 }

 .facebook {
     background-color:#ff6d6d;
 }

 .twitter {
     background-color:#ff6d6d;
 }

 .google {
     background-color:#ff6d6d;
 }

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #f44242;
    border-color: #f44242;
}

.panel-primary {
    border-color: #f44242;
    margin-top: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #f44242;
    border-color: #f44242;
}

.btn-primary:hover {
    color: #ff6d6d;
    background: transparent;
    border: solid 2px #ff6d6d;
}

#main{
    font-family: 'Open Sans', sans-serif
}

#tittlepage h3 {
    font-family: 'Open Sans', sans-serif
    color: #f44242;
    font-size: 2em;
    margin-top: 40px;
}

#tittle {
    font-family: 'Open Sans', sans-serif
    color: #f44242;
    font-size: 4vw;
    margin-top: 140px;
}

.text-cont {
    padding-top: 0;
}

.item .active{
    font-family: 'Open Sans', sans-serif
}

a:hover {
    text-decoration: none;
}

hr {
   width: 100%;
    border: none;
    border-top: solid 2px #f44242;
    width: 200px;
}

.btn-custom:hover {
    background: transparent;
    border: solid 2px #ff6d6d;
}

.btn-danger.btn-custom {
    padding: 10px 15px;
    margin-top: 10px;
}


.btn-danger.newbtn {
    padding: 10px 15px;
    margin-top: 10px;
    position: relative;
    top:100px;
}

.list-menu {
    list-style: disc;
    margin-left: 15px;
    padding:0;
    text-align: left;
}
.list-menu li {
    list-style: disc;
    padding-left: -5px;
}
.list-menu li:hover {
    text-decoration: underline;
}

.edit-h1 {
    font-size: 40px;
    color: #ff6d6d;
}

.edit-h2 {
    margin-top: 2px;
    font-size: 18px;
    width: 800px;
    max-width: 100%;
    line-height: 25px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.panel-heading.bigger {
    font-size: 24px;
    padding: 8px;
}


.container p {
    margin-top: 15px;
}

.container .backtotop {
    float: right;
    margin: 13px 0;
}

.success-text {
    font-size: 18px;
}
.navbar-header {
    padding-left: 20px;
    padding-right: 20px;
}

.section-success {
    text-align: center; margin-top: 200px;
    padding-left: 20px;
    padding-right: 20px;
}
.section-success.section-cont {
    margin-top: 80px;
}

.nav-login {
    text-align: center;
}

/*Style Login*/

/*body {
    background: url('http://i.imgur.com/Eor57Ae.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}*/

.logo {
    width: 213px;
    height: 36px;
    margin: 30px auto;
}

.login-block {
    width: 380px;
    padding: 20px;
    background: #f7f7f7;
    border-radius: 5px;
    border-top: 7px solid #ff6d6d;
    box-shadow: 2px 2px 2px #cdcdcd;
    margin: 200px auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#username {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #ff6d6d;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ff6d6d;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #e25f5f;
}

/*Style Responsive*/

@media (max-width: 1200px){

    .container {
        margin:0;
    }
    .navbar-header {
        display: block;
        width: 100%;
        float: none;
        text-align: center;
        margin:10px 0 0 0;
        left: 0;
        position: relative;
    }
    .navbar-brand {
        float: none;
    }
    .navbar-nav.navbar-right {
        float: none;
        display: inline-block;
        margin:0;
    }
    .navbar-default {
        text-align: center;
    }
}

@media (max-width: 765px){
    .navbar-brand {
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        left: 20px;
    }
    .navbar-header {
        margin: 0;
    }
    
    .copyright p {
        text-align: center;
    }

    .backtotop-cont {
        text-align: center;
    }

    .container .backtotop {
        float: none;
    }

    .row {
    padding-left: 0;
    }
}

@media screen and (max-width: 770px) {
    .carousel{
       margin-top: 50px;
    }
}

@media screen and (max-width: 770px) {
    .navbar-default .navbar-fixed-top {
        width: 100%;
        margin-bottom: 0px;
        background: rgb(23, 23, 23);
    }

}

@media (max-width: 767px) {

    .navbar-default .navbar-toggle {
        border-color: #fdfdfd;
    }

    .navbar-toggle {
        position: relative;
        float: right;
        padding: 11px 10px;
        margin-bottom: 8px;
        background-color: transparent;
        border: 2px solid;
        border-radius: 5px;
    }

    #tittlepage h1 {
        font-size: 30px;
    }

    #tittlepage h2 {
        font-size: 14px;
        line-height: 18px;
    }

    .carousel-caption h1 {
        margin-top: -35px;
        font-size: 1.5em;
        margin: 0px;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
    }

    .footer-area p {
        font-size: 15px;
    }
}

@media (max-width: 550px) {
    .bride-groom {
        width: 290px;
    }
    .carousel-caption {
        padding-bottom: 25px;
        
    }
    .carousel-caption h1 {
        margin-top: -35px;
        font-size: 1.5em;
        margin: 0px;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
    }

    .footer-area p {
        font-size: 15px;
    }
}

@media (max-width: 350px) {
  .login-block {
    width: 200px;
    padding: 20px;
    background: #f7f7f7;
    border-radius: 5px;
    border-top: 7px solid #ff6d6d;
    box-shadow: 2px 2px 2px #cdcdcd;
    margin: 200px auto;
  }
}

