li {
    text-decoration: none;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
}

.navbar-default {
    width: 100%;
    margin-bottom: 0px;
    background: #252525;
    padding: 3px 0px;
    top: 0;
    border: transparent;
    /* box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1); */
}

.navbar-default .navbar-nav li a {
    color:white;
    font-size: 12px;
    font-weight: 600;
    padding-right: 0px
}

.navbar-default .navbar-nav li a:hover {
    font-size: 12px;
    font-weight: 600;
    background-color: transparent;
    color: #f44242;
    padding-right: 0px;
}

.navbar-brand img {
    width: 160px;
    height: 30px;
    margin: 5px 0px 5px 5px;
}

#navbr:hover {
    color: #f44242;
}



.navbar-fixed-top.scrolled {
    background-color: #252525;
    transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled li a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}
/*.navbar-fixed-top.scrolled .navbar-brand{
    color: black;
}*/

.navbar-fixed-top.scrolled .navbar-nav li a:hover {
    font-size: 15px;
    font-weight: 600;
    background-color: transparent;
    color: #ff6d6d;
}

.carousel-caption {
    padding-bottom: 20px;
}

.item.active .carousel-caption {
    opacity: 1;
    transition: 2s all ease-in-out .1s;
}

.text-center {
    text-align: center;
}


/*css responsive*/

@media (max-width: 550px) {
    .bride-groom {
        width: 290px;
    }
    .carousel-caption {
        padding-bottom: 25px;
        
    }
    .carousel-caption h1 {
        font-size: 1.5em;
        margin: 0px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        /* box-shadow: 2px; */
    }
    .footer-area p {
        font-size: 15px;
    }
}

.panel-group {
    margin-bottom: 20px;
    /* margin-top: 5%; */
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
ul,li{
    padding:0;
    margin:0;
}
li{
    list-style-type:none;
}



footer { background-color:#252525; min-height:300px; font-family: 'Roboto', sans-serif; margin-top: 50px; }
.footer-col { margin-top:50px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footer-col p { color:#fff; font-size:12px; font-family: 'Roboto', sans-serif; margin-bottom:15px;}
.footer-col p i { width:20px; color:#999;}

.footer-ul { list-style-type:none;  padding-left:0; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

 .copyright { min-height:40px; background-color:#1c1c1c;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
.social-icon {
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: blue;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    padding-top: 7px;
    border-radius: 50%;
}
 .footer-social li{
     float:left;
 }
 .linked-in{
     background-color:#007bb6;
 }
 .facebook{
     background-color:#3b5998;
 }
 .twitter{
     background-color:#1da1f2;
 }
 .google{
     background-color:#f63e28;
 }



 
 .panel-primary>.panel-heading {
    color: #fff;
    background-color: #f44242;
    border-color: #f44242;
}

.panel-primary {
    border-color: #f44242;
    margin-top: 20px;
}

.btn-prim {
    color: #fff;
    background-color: #f44242;
    border-color: #f44242;
}

.btn-prim:hover {
    color: #fff;
    background-color: skyblue;
    border-color: skyblue;
}

#main{
    font-family: 'Roboto', sans-serif;
}

#tittlepage h3{
    font-family: 'Roboto', sans-serif;
    color: #f44242;
    font-size: 3vw;
    margin-top: 40px;
}

#tittle{
    font-family: 'Roboto', sans-serif;
    color: #f44242;
    font-size: 4vw;
    margin-top: 140px;
}

#jumbotron{
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
}

.item .active{
    font-family: 'Roboto',sans-serif;
}

a:hover{
    text-decoration: none;
}

hr{
    width: 200px;
    border-width: 2px;
    border-color: #f44242;
}